<h1>Build-a-Burger</h1>

    <h2 class="devour-add-notdevoured">Add a Burger</h2>
  <p>Create a Burger by pressing the add burger button!</p>

<form class="create-update-form" action="/burgers/create" method="POST">
  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
    <button type="submit">Add Burger</button>
  </div>
  
</form>

<h2 class="devour-add-notdevoured">Burgers that are not devoured</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.id}}. {{this.burger_name}}

        <form method="POST" action="/burgers/update?_method=PUT" class="button_size">
          <input type="hidden" type="text" name="burger_id" value={{this.id}}>
          <button type="submit">Devour the Burger!</button>
        </form>

        
      </li>
    {{/unless}}
  {{/each}}
</ul>


<h2 class="devour-add-notdevoured">Burgers that are Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
    <h2 class="devoured-headline"></h2>
      <li>
        {{this.burger_name}}
       
      </li>
    {{/if}}
  {{/each}}
</ul>



